/* google fonts linked here  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#E5E5E5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------------------------------
header-section starts here
-----------------------------------  */
.header-section{
    padding:6px 0px;
}
.navbar-brand h2{
    color: #3E3E3E;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    font-feature-settings: 'liga' off;
}
.nav-styled {
    color: #3E3E3E;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
}
.nav-styled:hover{
    color: #3E3E3E;
}
/*-----------------------------------
home-section starts here
-----------------------------------  */
.home-section{
    margin: 0px;
    padding:0px;
}
.carousel-item{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 21.92%, rgba(0, 0, 0, 0.418) 160.04%, rgba(0, 0, 0, 0.121) 160.06%), url(.jpg);
    border-radius: 0px 0px 5px 5px;
}
.carousel-caption h1{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color:#FFFF;
    line-height: 58px;
    text-align: center;
    margin-bottom: 5px;
}
.carousel-caption p{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:17px;
}
.home-btn{
    text-decoration: none;
    background-color: #FFFF;
    color: #3F87F5;
    border:1px solid #FFFF;
    border-radius: 5px;
    padding: 6px 25px;
    margin-bottom: 10px;
    transition: .2s ease; 
    cursor: pointer;
}
.home-btn:hover{
    background-color: #3F87F5;
    color: #FFFF;
}

/*-----------------------------------
moment-section starts here
----------------------------------  */
.moment-section{
    margin-bottom:50px;
}
.image-info h2{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 60px;
    color: #0A0826;
    margin-bottom: 6px;
}
.image-info p{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.toast-body{
    border-left: 1px solid black;
}
.btn{
    background-color:#3F87F5;
    border:1px solid #3F87F5;
    border-radius:5px;
    color: #FFFF;
    padding:5px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition:.3s ease;
}
.btn:hover{
    color:#3F87F5;
    background-color:#FFFF;
}
/*------------------------------------
top-wedding-section starts here
-------------------------------------- */
.wedding-title{
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #0A0826;
    font-size: 35px;
    line-height: 57px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:50px;
}
.blog{
    position:relative;
    border-radius:10px;
    transition:.3s ease;
    margin-bottom:40px;
}
.blog:hover .blog-frame img{
    transform:scale(1.1);


}
.blog-frame{
    display:flex;
    text-align:center;
    justify-content:center;
    overflow:hidden;
}
.blog-frame img{ 
    transition:.3s ease;
    
}
.blog-info{
    display:none;
    position:absolute;
    top:0px;
    width:100%;
    height:100%;
    padding:15px;
    text-align:center;
    background-color:#ffffffa6;
    transition: .3s;
}
.blog:hover .blog-info{
    display:block;
}
.blog-info h1{
    text-align:center;
    font-weight:bold;
    font-size:30px;
    color: #0A0826;
    margin-top:10px;
}
.blog-info p{
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color: #6C6C6C;
}
.btn{
    background-color:#3F87F5;
    border:1px solid #3F87F5;
    border-radius:5px;
    color: #FFFF;
    padding:5px 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    transition:.3s ease;
}
/* pricing-section starts here  */
.packages-title{
    font-style: normal;
    color: #0A0826;
    font-weight: 600;
    font-size: 38px;
    line-height: 57px;
    margin-bottom: 45px;
}
.pricing-contents{
    background-color: #FFFF;
    padding: 10px;
    border-radius: 26px;
}
.pricing-box{
    padding: 10px;
    margin-bottom: 40px;
}
.pricing-box h2{
    font-style: normal;
    font-weight: bold;
    color: #231D4F;
    font-size: 36px;
    line-height: 46px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}
.pricing-box h3{
    font-family: 'Roboto', sans-serif;
    font-weight:bold;
    font-size:24px;
    color: #231D4F;
    line-height: 30px;
}
.pricing-box p{
    color: #848199;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.list i{
    padding: 5px;
    background: rgba(82, 67, 194, 0.103693);
    color: #5243C2;
    margin: 8px 0px;
    font-size: 11px;
    margin-right: 8px;
    border-radius: 50px;
}
.list{
    color:#848199;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.pricing-btn{
    background: #f496d22f;
    border: none;
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    color:#3F87F5;
    border-radius: 24px;
    cursor: pointer;
}
.hot-box{
    position: relative;
}
.pricing-box2{
    position: relative;
    background: #3F87F5;
    box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
    border-radius: 26px;
    color:#FFFFFF;
    padding: 20px;
}
.pricing-box2 h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 46px;
}
.pricing-box2 h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
}
.pricing-box2 p{
    font-style: normal;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}
.list2 i{
    padding: 5px;
    background:#ffffff31;
    color:#FFFF;
    margin: 8px 0px;
    font-size: 11px;
    margin-right: 8px;
    border-radius: 50px;
}
.pricing-btn2{
    background:#FFFFFF;
    border: none;
    mix-blend-mode: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 20px;
    color:#3F87F5;
    border-radius: 24px;
    cursor: pointer;
}
.hot{
    position: absolute;
    top: -10px;
    right:50px;
}
.hot-title{
    font-family: 'Roboto', sans-serif;
    background: #FF4E4E;
    border-radius: 13.5px;
    padding: 4px 8px;
    color:#FFFFFF;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.833333px;
}
/* accordion-section starts here  */
.accordion-title{
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 50px;
    color: #0D0925;
    padding: 50px 0px;
}
.title{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #383838;
}

/* footer-section starts here  */
.footer-section{
    background: #0B0D17;
    padding: 50px 0px;
}
.credit{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;
}
.developer{
    cursor:pointer
}

.footer-right h4{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    font-feature-settings: 'liga' off;
    color: #D9DBE1;
}
.appstore{
    cursor: pointer;
}




/* media queary  */
@media screen and (max-width:1024px){
    /* home section start  */
    .carousel-caption h1{
        font-size: 30px;
        line-height: 30px;
    }
    .carousel-caption p{
        font-size: 13px;
        line-height: 25px;
    }
    /* pricing section starts here  */
    .pricing-box{
        margin-bottom: 30px;
    }
}


@media screen and (max-width:688px){
    /* home section starts here  */
    .carousel-caption h1{
        font-size: 20px;
        line-height: 18px;
        margin-bottom: 7px;
    }
    .carousel-caption p{
        font-size: 9px;
        line-height: 10px;
        margin-bottom: 5px;
    }
    .home-btn{
        font-size: 10px;
    }
    /* pricing section starts here  */
    .pricing-box{
        margin-bottom: 40px;
    }
    
    
}